h1= title
p Welcome to #{title}

a(href="/flasher.html") Flasher
form(method='post', action='/state')
  div#ms
    span Miliseconds:
    input(name='speed', type="text", value=speed)

  div#colors
    span Colors:
    input(name='colors', type="text", value=colors)
  div#message
    span Message:
    input(name='message', type="text")
  div#submit
    input(type='submit', value='Update')

script
  $("form #submit input").click(function() {
    $.ajax({
      url: '/state',
      data: $("form").serializeObject(),
      type: "POST",
      success: function(x) {
        alert("Success");
      }
    })
    return false;
  })
