!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/smoke.css')
    link(rel='stylesheet', href='/stylesheets/dark.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/smoke.min.js")
    script(src="/javascripts/common.js")
  body!= body
